@using MvcKutuphane.Models.Entity
@model List<TBL_KİTAP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}



@using (Html.BeginForm("Index","Kitap",FormMethod.Get))
{
    <div style="margin-top:15px;margin-bottom:15px">
        <input type="text" class="form-control" name="p" placeholder="Aranacak Kitabı Giriniz" /> 
        <div style="margin:10px"></div>
        <button class="btn btn-info" type="submit" value="Ara">Ara</button>
    </div>
}


<table class="table table-bordered">
    <tr style="background-color:rgb(16, 255, 0)">
        <th>ID</th>
        <th>Kitap Ad</th>
        <th>Kitap Yazarı</th>
        <th>Kitap Basım Yılı</th>
        <th>Kitap Yayın Evi</th>
        <th>Kitap Sayfa Sayısı</th>
        <th>Kitap Kategorisi</th>
        <th>Kitap Durumu</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.KitapAd</td>
            <td>@k.TBL_YAZAR.YazarAdSoyad</td>
            <td>@k.KitapBasimYili</td>
            <td>@k.KitapYayınEvi</td>
            <td>@k.KitapSayfaSayısı</td>
            <td>@k.TBL_KATEGORİ.Ad</td>
            <td>@k.KitapDurum</td>
            <td><a class="btn btn-danger" href="/Kitap/KitapSil/@k.ID">Sil</a></td>
            <td><a class="btn btn-success" href="/Kitap/KitapGetir/@k.ID">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Kitap/KitapEkle" class="btn btn-primary">Kitap Ekle</a>

