
@{
    ViewBag.Title = "LinqKart";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Esteem  An Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/web3/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web3/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/fontawesome.min.css" integrity="sha512-v8QQ0YQ3H4K6Ic3PJkym91KoeNT5S3PnDKvqnwqFD1oiqIl653crGZplPdU5KKtHjO0QKcQ2aUlQZYjHczkmGw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <body >
        <!-- /inner_content-->
        <div class="inner_content">
            <!-- /inner_content_w3_agile_info-->
            <div class="inner_content_w3_agile_info">
                <!-- /agile_top_w3_grids-->
                <div class="agile_top_w3_grids">
                    <ul class="ca-menu">
                        <li>
                            <a href="#">

                                <i class="fas fa-bookmark" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main">@ViewBag.dgr1</h4>
                                    <h3 class="ca-sub"> Kitap Sayımız</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main one">@ViewBag.dgr2</h4>
                                    <h3 class="ca-sub one">Üye Sayımız</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-database" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main two">@ViewBag.dgr3</h4>
                                    <h3 class="ca-sub two">İadedeki Kitap Sayısı</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-money-bill"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main three">@ViewBag.dgr4</h4>
                                    <h3 class="ca-sub three">Kasadaki Miktar</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-microchip"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main four">@ViewBag.dgr5</h4>
                                    <h3 class="ca-sub four">Kategori Sayımız</h3>
                                </div>
                            </a>
                        </li>
                        <li style="margin-left:9px">
                            <a href="#">
                                <i class="fa fa-pen" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main one">@ViewBag.dgr6</h4>
                                    <h3 class="ca-sub one">En Fazla Kitabı Olan Yazar</h3>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">

                                <i class="fas fa-hourglass" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main">@ViewBag.dgr7</h4>
                                    <h3 class="ca-sub">Yayın Evi Sayısı</h3>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-award" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main two">@ViewBag.dgr8</h4>
                                    <h3 class="ca-sub two">En İyi YayınEvi</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-bitcoin" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main three">@ViewBag.dgr9</h4>
                                    <h3 class="ca-sub three">Personel Sayısı</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-chain" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main three">@ViewBag.dgr10</h4>
                                    <h3 class="ca-sub three">En Başarılı Personel</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-calendar" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main two">@ViewBag.dgr11</h4>
                                    <h3 class="ca-sub two">Bugunkü Emanetler</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">

                                <i class="fas fa-chess-king" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main">@ViewBag.dgr12</h4>
                                    <h3 class="ca-sub"> En Aktif Üye</h3>
                                </div>
                            </a>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>



    </body>
</html>

